* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: floralwhite;
  color: #212121;
  line-height: 1.5;
}

/**RESET STYLES*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

/**COMMON STYLES*/
.country-list,
.country-info-list {
  list-style: none;
}

.container {
  max-width: 350px;
  padding: 0 15px;
  margin: 0 auto;
}

.title-container {
  padding: 20px 0;
}

.title {
  text-align: center;
  font-size: 33px;
  font-weight: 600;
  line-height: 1.1;
  text-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
}

#search-box {
  font: inherit;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 8px;
  margin: 0 0 30px 0;
  background-color: rgb(216, 162, 97);
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  text-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
}

::placeholder {
  font-size: 20px;
  color: rgb(255, 255, 255)
}


.li-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  animation: fadeInAnimation ease-in-out 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.li-icon {
  width: 80px;
  border: 0.5px solid black;
  border-radius: 3px;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
}

.li-text {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  text-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
}

.country-title-container {
  display: flex;
  align-items: center;
  gap: 10px;
  animation: fadeInAnimation ease-in-out 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.country-icon {
  width: 60px;
  border: 0.5px solid black;
  border-radius: 2px;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
}

.country-icon-ua {
  width: 100%;
  height: 150px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 10px;
  animation: fadeInAnimation ease-in-out 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.country-text-ua {
  text-align: center;
  margin-top: 50px;
  font-size: 35px;
  font-weight: 600;
  line-height: 1.1;
  text-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
  animation: fadeInAnimation ease-in-out 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.country-title-ua {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.1;
  text-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
  animation: fadeInAnimation ease-in-out 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.country-info-list {
  padding-top: 10px;
  animation: fadeInAnimation ease-in-out 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.country-info-list-item {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.07em;
  text-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
}

.country-info-list-item>b {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0.05em;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}